<div class="sobre_conteiner">
  <div class="sobre_Title">Sobre a DPCAMI</div>
  <div class="sobre_Conteudo">
    <p>
      A Delegacia de Proteção à Criança, Adolescente, Mulher e Idoso (DPCAMI) de
      Brusque é uma unidade especializada criada com o objetivo de oferecer
      proteção e suporte a grupos vulneráveis. Sua principal função é atuar na
      prevenção, investigação e combate a crimes de violência doméstica, sexual
      e familiar, envolvendo mulheres, crianças, adolescentes e idosos. A
      delegacia também promove um atendimento humanizado, focado no acolhimento
      das vítimas e no encaminhamento adequado para serviços de assistência
      social e jurídica.
      <br /><br />
      A história da DPCAMI em Santa Catarina começou como uma resposta às
      crescentes demandas por um atendimento especializado às vítimas de
      violência. Inicialmente, essas demandas eram atendidas pelas Delegacias
      Especializadas de Defesa dos Direitos da Mulher (DEAMs). Com o passar do
      tempo, percebeu-se a necessidade de uma abordagem mais ampla, que também
      contemplasse outras faixas etárias e situações de vulnerabilidade. Foi a
      partir dessa percepção que surgiu o conceito das DPCAMIs, marcando uma
      evolução significativa na atuação da Polícia Civil.
      <br /><br />
      Em Brusque, a DPCAMI destaca-se pelo trabalho integrado com outros órgãos
      e programas sociais da região. A delegacia não apenas investiga e apura
      denúncias de crimes, mas também promove ações de conscientização e
      prevenção, abordando temas como a violência contra a mulher e a proteção
      dos direitos das crianças e adolescentes. Essas ações são realizadas em
      parceria com escolas, ONGs e demais instituições da sociedade civil.
      <br /><br />
      Um dos principais diferenciais da DPCAMI de Brusque é a capacitação
      contínua de seus profissionais. A equipe é formada por policiais,
      assistentes sociais e psicólogos treinados para lidar com situações
      delicadas e, muitas vezes, traumáticas. Esse preparo é fundamental para
      garantir um atendimento acolhedor e respeitoso, que priorize o bem-estar
      das vítimas e contribua para a quebra do ciclo de violência.
      <br /><br />
      Além disso, a DPCAMI desempenha um papel crucial no fortalecimento das
      políticas públicas de proteção aos grupos vulneráveis. Por meio de suas
      ações, a delegacia busca sensibilizar a comunidade sobre a importância de
      denunciar casos de violência e oferecer apoio às vítimas. Essa atuação
      reforça o compromisso da unidade com a construção de uma sociedade mais
      justa, segura e igualitária.
    </p>
  </div>
</div>
