.sobre_conteiner {
  border: 1px solid #6A1B9A;
  border-radius: 15px;
  padding: .5rem;
  margin: 120px .5rem 15px 0;
  z-index: 2;

  & .sobre_Title {
    text-align: center;
    font-size: 20px;
    color: #2D4D5F;
  }

  & .sobre_Conteudo {
    text-align: justify;
    font-size: 16px;
  }
}
