<div class="Sobre">
  <div class="sobre_title">Sobre o Projeto</div>
  <app-big-card-left
    img="assets/img/Foto-NI.jpg"
    title="Objetivo Geral"
    text="O projeto tem como principal objetivo disponibilizar uma solução
  colaborativa e informativa para a conscientização e o combate à violência
  doméstica. Através da divulgação de instruções normativas e recursos de
  apoio, visa-se aumentar a adesão a ações sociais que promovem a denúncia e
  o suporte às vítimas."
  ></app-big-card-left>

  <app-big-card-right
    img="assets/img/Foto-NI.jpg"
    title="O Problema da Violência Doméstica"
    text="A violência doméstica ocorre de diversas formas, como violência física, psicológica, sexual, econômica e patrimonial. Ela afeta pessoas de todas as idades e classes sociais, impactando a saúde física, emocional e mental das vítimas. O combate a essa problemática é um dever global, exigindo ações eficazes,
    educativas e de proteção."
  ></app-big-card-right>

  <app-big-card-left
    img="assets/img/Foto-NI.jpg"
    title="Importância do Projeto"
    text="Este projeto visa promover a igualdade de gênero, criar campanhas de sensibilização e oferecer apoio a vítimas. A conscientização e o fácil acesso às informações são essenciais para combater estereótipos prejudiciais e encorajar a denúncia segura e confidencial dos abusos."
  ></app-big-card-left>

  <app-big-card-right
    img="assets/img/Foto-NI.jpg"
    title="Metodologia Aplicada"
    text="O projeto utiliza uma abordagem prática e prescritiva. Foi realizado um estudo de campo, com levantamento bibliográfico aprofundado e consulta a especialistas, como o Centro de Referência de Assistência Social. A solução proposta é baseada em problemas reais e busca fornecer alternativas eficazes."
  ></app-big-card-right>

  <app-big-card-left
    img="assets/img/Foto-NI.jpg"
    title="Resultados Esperados"
    text="Espera-se que o projeto contribua para a criação de uma rede de apoio, fortaleça a divulgação dos direitos das vítimas e aumente a visibilidade da temática na sociedade. Além disso, objetiva-se o fomento de parcerias entre órgãos públicos, ONGs e instituições educacionais."
  ></app-big-card-left>
</div>
