<app-banner></app-banner>
<app-cards
  title="Sobre Nós"
  text="Somos uma iniciativa dedicada à conscientização sobre a violência doméstica.
          Nosso objetivo é fornecer informações, promover parcerias e oferecer suporte
          às vítimas para construir uma sociedade mais justa e segura."
  labelButton="Sobre Nós"
  PageLink="sobreoprojeto"
></app-cards>

<div class="InstituicaoParceira">
  <div class="card">
    <div class="title">Instituição Parceira</div>
    <div class="line">
      <img src="assets/img/logopcsc.png" alt="" />
      <div class="title">DPCAMI - Brusque</div>
    </div>
  </div>
</div>
