<div class="contato-projeto_conteiner">
  <div class="contato-projeto_Title">Contato Geral</div>

  <form action="/submit" method="post">

    <label for="name">Nome:</label>
    <input type="text" id="name" name="name" placeholder="Digite seu nome" required>

    <label for="email">Email:</label>
    <input type="email" id="email" name="email" placeholder="Digite seu email" required>

    <label for="message">Mensagem:</label>
    <textarea id="message" name="message" rows="5" placeholder="Digite sua mensagem"></textarea>

    <button type="submit">Enviar</button>
  </form>
</div>
